{% extends "base.html" %}
{% block body %}
{% include "navbar.html" %}
<div class="container contents">
  <div class="row">
   <div class="col-md-12">
    <div class="btn-group btn-group-justified hashtag-group" role="group" aria-label="...">
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default"
        onclick="location.href='/package/?category=sd' " style="border-radius: 0px;">밑반찬</button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" onclick="location.href='/package/?category=st' " >
          국,찌개</button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" onclick="location.href='/package/?category=ws' ">
          양식</button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" onclick="location.href='/package/?category=ko' ">
          한식</button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default" onclick="location.href='/package/?category=sm' ">
          간편요리</button>
      </div>
      <div class="btn-group" role="group" >
        <button type="button" class="btn btn-default" onclick="location.href='/package/category=sp' "
        style="border-radius: 0px;">스페셜요리</button>
      </div>
    </div>
   </div>
  </div>
  <div class="row">
     <div class="col-md-12 top-image">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class=""></li>
                <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                <li data-target="#carousel-example-generic" data-slide-to="2" class="active"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item food1">
                    <h1 class="title">금주의 레시피 TOP1</h1>
                </div>
                <div class="item food2">
                    <h1 class="title">금주의 레시피 TOP2</h1>
                </div>
                <div class="item active food3">
                    <h1 class="title">금주의 레시피 TOP3</h1>
                </div>
            </div>
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>
    <div class="col-md-9">
      <div class="row">
      {% for package in package_list %}
      <div class="col-sm-4 col-lg-4 col-md-4">
          <a href="./{{package.id}}">
            <div class="thumbnail">
             <img src="{{package.image.url}}" alt="">
              <div class="caption">
                  <p style="display:inline;"><a href='{{ package.get_absolute_url }}'>
                    {{package.name}}</a></p>
                    <h5>{{package.price}}원</h5>
                    <p class="pull-right" style="font-size:10px;">
                    <i class="fa fa-eye" aria-hidden="true"></i></p>
              </div>
              <div class="ratings">
                  <p>
                     {% for i in package.score_string %}
                      <i class="fa fa-star" aria-hidden="true"></i>
                     {% endfor %}
                  </p>
              </div>
          </div>
        </a>
      </div>
      {% endfor %}
      </div>
    </div>
    {% include "sidebar.html" %}
  </div>
</div>
{% endblock %}
