{% extends "base.html" %}
{% block body %}
{% include "navbar.html" %}
<div class="container">
  <div class="row">
    <div class="col-md-offset-3 col-md-6">
     <div class="header">
       <div class="row">
           <div class="col-md-4">
               <h3 class="table_title" style="display:inline;">{{package.name}}</h3>
           </div>
           <div class="col-md-offset-4 col-md-4">
            <p style="display:inline;float:right;color:#777;margin-bottom:0px;">판매자:&nbsp;{{package.partner.name}}&nbsp;&nbsp;</p>
           </div>
       </div>
     </div>
      <table class="table">
        <tr>
          <td colspan="2"><img src="{{ package.image.url }}" style="max-width:300px;"></td>
        </tr>
        <tr>
          <th>메뉴명</th>
          <td>{{package.name}}</td>
        </tr>
        <tr>
          <th>소개</th>
          <td>{{package.introduction}}</td>
        </tr>
      </table>
      <div class="modal-footer row">
        <div class="col-md-9">
          <button type="button" class="btn btn-default btn-block btn-white"
          onclick="location.href='/package/order/{{package.id}}' " style="height:50px;" >구매하기</button>
        </div>
        <div class="col-md-3 cart">
         <button type="button" class="btn btn-default btn-block btn-basic" style="height:50px;" onclick="cart_add({{package.id}})">
           <i class="fa fa-shopping-cart" aria-hidden="true" style="font-size:18px;"></i></button>
        </div>
      </div>
    </div>
    {% include "sidebar.html" %}
  </div>
</div>

<script type="text/javascript">
  function cart_add(item_id){
      $.ajax({
          url: "/cart/package/",
          type: 'POST',
          data: {
              "csrfmiddlewaretoken": "{{ csrf_token }}",
              'item_id': item_id
          },
          success: function (data) {
            var ingredient = data[0].fields;
            var str = '';
          },
          error: function (err) {
              console.log(err);
          }
      });
  }
</script>
{% endblock %}
