{% extends "base.html" %}
{% block body %}
{% include "navbar.html" %}
<div class="container contents">
  <div class="row">
   <div class="col-md-12">
    <div class="btn-group btn-group-justified hashtag-group" role="group" aria-label="...">
      <div class="btn-group" role="group">
        <a href="#"><button type="button" class="btn btn-default" style="border-radius: 0px;">밑반찬</button></a>
      </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default">국,찌개</button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default">다이어트</button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default">밥대용</button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default">10분조리</button>
      </div>
      <div class="btn-group" role="group" >
        <button type="button" class="btn btn-default" style="border-radius: 0px;">금주의레시피</button>
      </div>
    </div>
   </div>
  </div>
  <div class="row">
     <div class="col-md-12 top-image">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class=""></li>
                <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                <li data-target="#carousel-example-generic" data-slide-to="2" class="active"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item food1">
                    <h1 class="title">금주의 레시피 TOP1</h1>
                </div>
                <div class="item food2">
                    <h1 class="title">금주의 레시피 TOP2</h1>
                </div>
                <div class="item active food3">
                    <h1 class="title">금주의 레시피 TOP3</h1>
                </div>
            </div>
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>
    <div class="col-md-9">
      <div class="row">
      {% for recipe in recipe_list %}
      <div class="col-sm-4 col-lg-4 col-md-4">
          <a href="./{{recipe.id}}">
            <div class="thumbnail">
             <img src="{{recipe.image.url}}" alt="">
              <div class="caption">
                  <p style="display:inline;"><a href='{{ recipe.get_absolute_url }}'>{{recipe.title}}</a></p>
                   <p class="pull-right" style="font-size:10px;">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                     {{recipe.hit}}
                   </p>
              </div>
              <div class="ratings">
                  <p style="display:inline;">by&nbsp;{{recipe.client.name}}</p>
                  <p class="pull-right"><i class="fa fa-commenting-o" aria-hidden="true">&nbsp;</i>{{recipe.recipe_comments.count}}</p>
              </div>
          </div>
        </a>
      </div>
      {% endfor %}
      </div>
    </div>
    <div class="col-md-3">
      <a href="/recipe_wirte"><div>
        레시피 작성하러 가기
      </div></a>
    </div>
  </div>
</div>
{% endblock %}
