@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

body {
    font-family: 'Noto Sans KR', sans-serif;
    padding-top: 81px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    color: #555555;
}

.slide-image {
    width: 100%;
}

.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control,
.item {
    border-radius: 0px;
    height: 300px;
}


.caption {
    overflow: hidden;
}

.caption h4 {
    white-space: nowrap;
}

.thumbnail img {
    width: 100%;
}

.ratings {
    padding:0px 10px 10px 10px;
    color: #666666;
    font-size: 12px;
}

.thumbnail:hover {
    box-shadow: 0px 0px 5px 2px #e4e4e4;
    cursor:pointer;
}

.thumbnail {
    border-radius: 0px; 
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

footer {
    margin: 50px 0;
}

/*navbar*/

.navbar {
  border-bottom: 1px solid #dddddd;
  height: 80px;
}

.navbar .navbar-header .navbar-brand img {
  width: 55px;
  padding-top: 2px;
}

.navbar-nav>li {
  float: right;
}

.navbar-nav>li>a {
  padding-top: 30px;
  color: #777;
}

.navbar .col-md-5 {
  padding-top: 15px;
}

.form-control {
  border-radius: 0px;
}
/*index*/

/*signup*/
.btn-basic {
  background-color: #F28705;
  border-color:#F28705;
  border-radius: 0px;
  color: white;
}
.btn-basic:hover{
    hbackground-color: #F28705;
  border-color:#F28705;
  border-radius: 0px;
  color: white;
}

.btn-white {
  background-color: white;
  border-color:#F28705;
  border-radius: 0px;
  color: #333;
}

.btn-white:hover{
    background-color: #F28705;
    border-color: #F28705;
    color: white;
}

.signup-row {
  margin-top: 40px;
}

#nav-form {
    padding-top: 23px;
    padding-left: 20px;
  }

.add {
  text-align: center;
}

.add>ul>li {
  border-radius: 0px;
}

.intro-header {
    padding-top: 50px;
    padding-bottom: 52px;
    color: #555555;
/*    background: url(/static/img/bg.jpg) no-repeat center center;*/
/*
    -webkit-filter: brightness(60%);
    filter: brightness(60%);
*/
    background-size: cover;
  }

.intro-header {

}

.container {
}

.intro-divider {
    width: 100%;
    border-top: 1px solid #ddd;
/*    border-bottom: 1px solid rgba(0,0,0,0.2);*/
    margin-top: 0px;
    margin-bottom: 30px;
}

.btn-lg {
 font-size: 14px;
 color: #555555;
}

.navbar-fixed-top {
  background: white;
}



.intro-message {

}

.table-header {
    display: inline;
}

.partner-setting {
    float: right;
    margin-right: 10px;
    padding-top: 5px;
    color: #9d9d9d;
}

.header {
    padding-bottom: 10px;
    margin-top: 30px;
}


.list-inline {
    text-align: center;
}

.patner-table {
    margin-bottom: 0px;
}

#id_image {
    display: inline;
    padding-left: 5px;
}



.button-td {
    float: right;
}


.contents {
    margin-top: 30px;
}




.hashtag-group {
    margin: 10px 0px 20px 0px;
}

.top-image {
    margin-bottom: 20px;
    padding: 0px;
}

.food1 {
    background-image:url('/static/img/food1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.food2 {
    background-image:url('/static/img/food2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.food3 {
    background-image:url('/static/img/food3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    color: white;
    display: inline-block;
    margin-left: 30px;
    text-shadow:#a7a7a7 0px 0px 5px;
}

.detail-comment {
    padding: 10px;
    bac
}

.reply-form {
    padding-left: 10px;
    padding-right: 10px;
}

hr {
    margin-top: 0px;
}



.setting {
    display: inline;
    float: right;
}


.setting-menu {
    min-width: 60px;
}

.fa-cog {
    color: #f7be73;
}


.ingredient_img{
    width: 300px;
}

.modal-footer {
    border-top:0px;
}

.modal-header {
    border-bottom: 0px;
}

.cart {
    padding-left: 0px;
}

.modal-content {
    border-radius: 3px;
}

.category_list {
/*    height: 60px;*/
    padding: 0px;
    text-align:center; 
    vertical-align:middle;
    display:table-cell;
    padding-bottom: 10px;
    padding-top: 13px;
    margin-top: 20px;
    color: #8A8A8A;
    border: 0.5px solid #ddd;
    height: 90px;
}

.category_list:hover {
    border: 0.5px solid #F28705;
    color: #F28705;
}

.category_list:visited {
    border: 0.5px solid #F28705;
    color: #F28705;
}

.category_img {
    width: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.category {
    background-color: white;
}

.all {
    background-image: url('/static/img/전체보기.svg');
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: center 25%;
}

.all:hover {
    background-image: url('/static/img/전체보기_hover.svg');
}

.category_name {
    padding-top: 40px;
}

.fr {
    background-image: url('/static/img/과일.svg');
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: center 25%;
}

.fr:hover {
    background-image: url('/static/img/과일_hover.svg');
}

.vg {
    background-image: url('/static/img/채소.svg');
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: center 25%;
}

.vg:hover {
    background-image: url('/static/img/채소_hover.svg');
}

.mt {
    background-image: url('/static/img/정육.svg');
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: center 25%;
}

.mt:hover {
    background-image: url('/static/img/정육_hover.svg');
}

.sf {
    background-image: url('/static/img/해산물.svg');
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: center 25%;
}

.sf:hover {
    background-image: url('/static/img/해산물_hover.svg');
}

.sn {
    background-image: url('/static/img/간식.svg');
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: center 25%;
}

.sn:hover{
    background-image: url('/static/img/간식_hover.svg');
}

.pf {
    background-image: url('/static/img/가공&냉장.svg');
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: center 25%;
}
.pf:hover {
    background-image: url('/static/img/가공&냉장_hover.svg');
}

.eg {
    background-image: url('/static/img/알류.svg');
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: center 25%;
}
.eg:hover {
    background-image: url('/static/img/알류_hover.svg');
}

.rc {
    background-image: url('/static/img/쌀.svg');
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: center 25%;
}
.rc:hover{
    background-image: url('/static/img/쌀_hover.svg');
}

.review {
    margin-top: 20px;
    padding-left: 10px;
    color: #F28705;
}

.cart-list {
    border: 1px solid #bbbbbb;
}



.search-box {
    width:500px;
}
