
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=11; IE=10; IE=8; IE7; IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}sample{% endblock %}</title>
    <!-- <title /> -->
    <link rel="stylesheet" href='{% static "css/lib/bootstrap.min.css" %}'>
    <link rel="stylesheet" href='{% static "css/lib/font-awesome.min.css" %}'>
    <link rel="stylesheet" href='{% static "css/shop-homepage.css" %}'>
    <link rel="stylesheet" href='{% static "css/base.css" %}'>
</head>
<body>
  <script type="text/javascript" src="//code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src='{% static "js/lib/jquery.multifield.js" %}'></script>
  <script src='{% static "js/lib/duplicateFields.js" %}'></script>
  <script src='{% static "js/lib/bootstrap.min.js" %}'></script>
  {% block body %}{% endblock %}
</body>
</html>
