{% extends "base.html" %}
{% block body %}
{% include "navbar.html" %}
<div class="category">
<div class="row">
  <div class="col-md-offset-2 col-md-10"><div class="row">
      <a href="/ingredient/"><div class="col-md-1 category_list all"><p class="category_name">전체보기</p></div></a>
      <a href="/ingredient/?category=fr"><div class="col-md-1 category_list fr"><p class="category_name">과일</p></div></a>
      <a href="/ingredient/?category=vg"><div class="col-md-1 category_list vg"><p class="category_name">채소</p></div></a>
      <a href="/ingredient/?category=mt"><div class="col-md-1 category_list mt"><p class="category_name">정육</p></div></a>
      <a href="/ingredient/?category=sf"><div class="col-md-1 category_list sf"><p class="category_name">해산물</p></div></a>
      <a href="/ingredient/?category=sn"><div class="col-md-1 category_list sn"><p class="category_name">간식</p></div></a>
      <a href="/ingredient/?category=pf"><div class="col-md-1 category_list pf"><p class="category_name">가공/냉장</p></div></a>
      <a href="/ingredient/?category=eg"><div class="col-md-1 category_list eg"><p class="category_name">알류</p></div></a>
      <a href="/ingredient/?category=rc"><div class="col-md-1 category_list rc"><p class="category_name">쌀</p></div></a>
  </div>
  </div>
 </div>
</div>
<div class="container contents">
    <div class="row">
    {% for ingredient in ingredient_list %}
    <a data-toggle="modal" onclick="show({{ingredient.id}})"><div class="col-sm-4 col-lg-3 col-md-3">
        <div class="thumbnail">
           <img style="height:200px;" src="{{ingredient.image.url}}" alt="">
            <div class="caption">
                <h5>{{ingredient.name}}  </h5>
                <h5>{{ingredient.price}}원</h5>
            </div>
            <div class="ratings">
                <p>
                   {% for i in ingredient.score_string %}
                    <i class="fa fa-star" aria-hidden="true"></i>
                   {% endfor %}
                </p>
            </div>
        </div>
    </div></a>
    {% endfor %}
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
             <div class="row">
                  <div class="col-md-6" id="ingredient_img"></div>
                  <div class="col-md-6">
                      <h3 class="modal-title" id="myModalLabel"></h3>
                      <h4 class="ingredient_price"></h4>
                      <p class="ingredient_hash"></p>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-12">
                      <p class="review">Review</p>
                      {% for comment in ingredient.ingredient_comments.all %}
                        <div class="detail-comment">
                         <hr>
                          <div style="font-size:8.5pt; color:#ababab">{{comment.client.name}}
                            &nbsp;&nbsp;<span class="comment-date">{{comment.created_date}}</span>
                          </div>
                          <div style="font-size:11pt; padding-top:5px;">{{comment.comment}}</div>
                        </div>
                      {% endfor %}
                  </div>
              </div>
           </div>
           <div class="modal-footer row">
           <!-- <div class="col-md-5">
             <input class="input_number" type="number" name="{{ingredient.id}}" value="0" />
           </div> -->
           <div class="col-md-10">
             <button type="button" class="btn btn-default btn-block btn-white order"
             style="height:50px;">사러가기</button>
           </div>
           <div class="col-md-2 cart">
            <button type="button" class="btn btn-default btn-block btn-basic cart" style="height:50px;">
              <i class="fa fa-shopping-cart" aria-hidden="true" style="font-size:18px;"></i></button>
           </div>
           </div>
          </div>
        </div>
      </div>
    </div>
</div>

<script type="text/javascript">
  function show(ingredient_id){
      $.ajax({
          url: "/ajax/ingredient/",
          type: 'POST',
          data: {
              "csrfmiddlewaretoken": "{{ csrf_token }}",
              'ingredient_id': ingredient_id
          },
          success: function (data) {
            var ingredient = data[0].fields;
            var str = '';
            $("#myModalLabel").html(ingredient.name);
            $("#ingredient_img").html('<img src="/media/'+ingredient.image+'" class="ingredient_img" alt="">');
            $(".ingredient_price").html(ingredient.price+'원');
              for (var name in ingredient.hashtag){
                str += '#'+ingredient.hashtag[name]+'&nbsp;'
              }
            $(".ingredient_hash").html(str);
            $(".order").click(function(){
               window.location.href='/ingredient/order/'+ingredient_id;
            })
            $(".cart").click(function(){
               window.location.href='/cart/'+ingredient_id;
            })
            $("#myModal").modal('show');
            console.log(ingredient);
          },
          error: function (err) {
              console.log(err);
          }
      });
  }
</script>
{% endblock %}
