{% extends "base.html" %}

{% block body %}
<div class="site-wrapper" style="margin-top:30px;">
  <div class="site-wrapper-inner">
    <div class="cover-container">
    {% include "navbar.html" %}
    <div class="container">
      <div class="col-sm-6 col-sm-offset-3">
        <form method="post" action="">
          <div class="form-group">
            {% csrf_token %}
            {{partner_form.as_p}}
            <button type="submit" class="btn btn-default btn-block">저장하기</button>
          </div>
        </form>
      </div>
    </div>
    {% endblock %}
    </div>
  </div>
