{% extends "base.html" %}

{% block body %}
<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
    {% include "navbar.html" %}
      <div class="intro-header">
          <div class="container">
            {% if user.is_authenticated %}
               {% if user.partner %}
                 <div class="row">
                     <div class="col-sm-6 col-sm-offset-3">
                         <div class="intro-message">
                            <div class="header">
                              <h3 class="table-header"> {{user.username}}님 반갑습니다!</h3>
                              <a href="./edit" class="partner-setting"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                            </div>
                          <table class="patner-table table">
                           <tr>
                             <th>상호명</th>
                             <td>{{user.partner.name}}</td>
                           </tr>
                           <tr>
                             <th>전화번호</th>
                             <td>{{user.partner.contact}}</td>
                           </tr>
                           <tr>
                             <th>주소</th>
                             <td>{{user.partner.address}}</td>
                           </tr>
                           <tr>
                             <th>소개</th>
                             <td>{{user.partner.description}}</td>
                           </tr>
                         </table>
                         <hr class="intro-divider">
                         <div style="heigt: 20px;"></div>
                         <ul class="list-inline intro-social-buttons">
                             <li>
                                 <a href="./ingredient" class="btn btn-default btn-lg"><i class="fa fa-apple" aria-hidden="true"></i> <span class="network-name">&nbsp;식재료등록</span></a>
                             </li>
                             <li>
                                 <a href="./package" class="btn btn-default btn-lg"><i class="fa fa-cutlery" aria-hidden="true"></i> <span class="network-name">&nbsp;패키지등록</span></a>
                             </li>
                             <li>
                                 <a href="#" class="btn btn-default btn-lg"><i class="fa fa-check-circle" aria-hidden="true"></i> <span class="network-name">&nbsp;주문확인</span></a>
                             </li>
                         </ul>
                         </div>
                     </div>
                 </div>
              {% else %}
              <div class="row">
                 <div class="col-sm-6 col-sm-offset-3">
                      <div>
                       <h3 class="table_title">추가 정보를 입력하세요.</h3>
                     </div>
                     <form method="post" action="">
                       <div class="form-group">
                         {% csrf_token %}
                         {{partner_form.as_p}}
                         <button type="submit" class="btn btn-default btn-block">저장하기</button>
                       </div>
                     </form>
                  </div>
              </div>
              {% endif %}
            {% endif %}
          </div>
      <!-- /.container -->
      </div>
      {% endblock %}
    </div>
  </div>
</div>
