{% extends "base.html" %}
{% block body %}
{% include "navbar.html" %}
<div class="container">
  <div class="col-sm-6 col-sm-offset-3">
    <h3 style="padding-bottom:10px;">식재료 수정</h3>
  <form enctype='multipart/form-data' id="edit_form" method="post" action="">
      {% csrf_token %}
      <div style="margin-bottom:20px;">
        {{ingredient_form.as_p}}
      </div>
  </form>
    <a href="/partner/ingredient"><button class="btn btn-default">취소</button></a>
    <button id="edit_submit" class="btn btn-default">저장하기</button>
</div>
</div>
<script type="text/javascript">
  $('#edit_submit').click(function() { $('#edit_form').submit(); });
</script>
{% endblock %}
