{% extends "base.html" %}
{% block body %}
  {% include "navbar.html" %}
  <div class="container top30">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <div class="header">
          <h3 class="table-header">등록된 식재료</h3>
          <a href="./ingredient" class="btn btn-default btn-sm" data-toggle="modal"
            data-target="#ingredient-add-Modal" style="padding-bottom: 5px; float: right;">
            <i class="fa fa-plus" aria-hidden="true"></i>
            <span class="network-name">&nbsp;추가</span>
          </a>
        </div>
          <table class="table">
            <tr>
              <th>이미지</th>
              <th>메뉴명</th>
              <th>가격</th>
              <th>카테고리</th>
              <!-- <th>해시태그</th> -->
              <th></th>
            </tr>
            {% for ingredient in ingredient_list %}
            <tr>
              <td><img src="{{ ingredient.image.url }}" style="max-width:100px;"></td>
              <td><a href="./{{ingredient.id}}">{{ ingredient.name }}</a></td>
              <td>{{ ingredient.price }}</td>
              <td>{{ ingredient.get_category_display }}</td>
              <td>
                <a href="./{{ingredient.id}}/edit">
                  <button style="width:60px"
                    class="btn btn-default">수정</button></a>
                <a href="./{{ingredient.id}}/delete">
                  <button style="width:60px"
                    class="btn btn-default">삭제</button></a>
              </td>
            </tr>
            {% endfor %}
          </table>
          <hr class="intro-divider">
      </div>
    </div>
    <div class="modal fade" id="ingredient-add-Modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content" style="height:400px;">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">식재료 추가</h4>
          </div>
          <div class="modal-body">
            <form enctype="multipart/form-data" method="post" action="">
                {% csrf_token %}
                <div>
                  {{ingredient_form.as_p}}
                </div>
                <input type="text" name="hashtag" class="form-control" placeholder="HashTag를 입력하세요.">
                <button type="submit" class="btn btn-default btn-block">저장하기</button>
            </form>
          </div>
          </div>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

<!--
    <div class="row">
      <div class="col-sm-offset-3 col-sm-6">
        <a href="./add">
          <button class="btn btn-default btn-block">추가</button>
        </a>
      </div>
    </div>
-->
  </div>
{% endblock %}
