{% extends "base.html" %}
{% block title %}honbab{% endblock %}
{% block body %}
{% include "navbar.html" %}
<div class="container">
  <div class="row signup-row">
      <div class="col-md-6 col-md-offset-3">
      <form class="form-signin" method="post" action="">
        {% csrf_token %}
        <h2 class="form-signin-heading">로그인</h2>
        <input type="text"  name="username" class="form-control" placeholder="아이디" required="" autofocus="">
        <input type="password" name="password" class="form-control" placeholder="비밀번호" required="">
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> 아이디 저장
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block btn-basic" type="submit">로그인</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
