{% extends "base.html" %}
{% block body %}
  {% include "navbar.html" %}
  <div class="container top30">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="header">
          <h3 class="table-header">등록된 레시피</h3>
          <a href="./add" class="btn btn-default btn-sm"
            style="padding-bottom: 5px; float: right;">
            <i class="fa fa-plus" aria-hidden="true"></i>
            <span class="network-name">&nbsp;추가</span>
          </a>
        </div>
          <table class="table">
            <tr>
              <th>이미지</th>
              <th>레시피명</th>
              <th>소개</th>
              <th></th>
              <!-- <th>해시태그</th> -->
              <th></th>
            </tr>
            {% for recipe in recipe_list %}
            <tr>
              <td><img src="{{ recipe.image.url }}" style="max-width:100px;"></td>
              <td><a href="./{{recipe.id}}">{{ recipe.title }}</a></td>
              <td>{{ recipe.introduction }}</td>
              <td></td>
              <td>
                <a href="./{{recipe.id}}/edit">
                  <button style="width:60px"
                    class="btn btn-default">수정</button></a>
                <a href="./{{recipe.id}}/delete">
                  <button style="width:60px"
                    class="btn btn-default">삭제</button></a>
              </td>
            </tr>
            {% endfor %}
          </table>
          <hr class="intro-divider">
      </div>
    </div>
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
  </div>
{% endblock %}
