{% load ifusergroup_tag %}
<nav class="navbar navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <a class="navbar-brand" href="/"><img src="/static/img/logo2.png" alt=""></a>
          </div>
          <div class="navbar-collapse collapse">
            <form class="nav navbar-nav" id="nav-form">
              <div class="form-group search-box">
                <input type="text" class="form-control" placeholder="냉장고에 있는 재료를 검색하세요!">
              </div>
              <!-- <button type="hidden" class="btn btn-default">Submit</button> -->
            </form>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#"><i class="fa fa-bars" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                aria-haspopup="true" aria-expanded="false"><i class="fa fa-user" aria-hidden="true"></i>
                </a>
                <ul class="dropdown-menu">
                  {% if user.is_authenticated %}
                    {% if request.user|has_group:"client" %}
                      <li><a href="#">주문</a></li>
                      <li><a href="#">장바구니</a></li>
                      <li><a href="#">나의 정보</a></li>
                      <li><a href="/myrecipe/">나의 레시피</a></li>
                      <!-- <li role="separator" class="divider"></li> -->
                      <li><a href="/logout/">로그아웃</a></li>
                    {% else%}
                      <li><a href="/partner/ingredient">식재료 관리</a></li>
                      <li><a href="/partner/package">패키지 관리</a></li>
                      <li><a href="#">주문 관리</a></li>
                      <li><a href="/logout/">로그아웃</a></li>
                    {% endif %}
                  {% else %}
                      <li><a href="/login/">로그인</a></li>
                      <li><a href="/signup/">회원가입</a></li>
                  {% endif %}
                </ul>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/recipe">레시피</a></li>
              <li><a href="/package">패키지</a></li>
              <li><a href="/ingredient">식재료</a></li>
            </ul>
          </div>
          <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
  </nav>
<script>
$('.dropdown-toggle').mouseenter(function(){
  $('.dropdown-toggle').dropdown();
});
</script>
