{% extends "base.html" %}xs
{% block body %}
  {% include "navbar.html" %}
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
          <h3 class="table_title">구매하기</h3>
          <form action="" method="post">
            {% csrf_token %}
            <table class="table">
              <tr>
                <th></th>
                <th>상품명</th>
                <th>금액</th>
                <th>수량</th>
              </tr>
              <tr>
                <td><img src="{{ item.image.url }}" style="max-width:100px;"></td>
                <td>{{ item.name }}</a></td>
                <td>{{ item.price }}</td>
                <td>
                  <input class="input_number" type="number" name="{{ingredient.id}}" value="1" />
                </td>
              </tr>
            </table>
            <form action="">
              <div class="form-group">
                <label for="exampleInputEmail1">주소</label>
                <input type="email" class="form-control"  name placeholder="주소를 입력하세요.">
              </div>
            </form>
            <button type="submit" class="btn btn-default btn-block">구매</button>
          </form>
      </div>
    </div>
  </div>
{% endblock %}
