{% extends "base.html" %}
{% block body %}
  {% include "navbar.html" %}
  <div class="container top30">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <div class="header">
          <h3 class="table-header">등록된 패키지</h3>
          <a href="./ingredient" class="btn btn-default btn-sm" data-toggle="modal"
            data-target="#ingredient-add-Modal" style="padding-bottom: 5px; float: right;">
            <i class="fa fa-plus" aria-hidden="true"></i>
            <span class="network-name">&nbsp;추가</span>
          </a>
        </div>
          <table class="table">
            <tr>
              <th>이미지</th>
              <th>메뉴명</th>
              <th>가격</th>
              <th>카테고리</th>
              <!-- <th>해시태그</th> -->
              <th></th>
            </tr>
            {% for package in package_list %}
            <tr>
              <td><img src="{{ package.image.url }}" style="max-width:100px;"></td>
              <td><a href="./{{package.id}}">{{ package.name }}</a></td>
              <td>{{ package.price }}</td>
              <td>{{ package.get_category_display }}</td>
              <td>
                <a href="./{{ingredient.id}}/edit">
                  <button style="width:60px"
                    class="btn btn-default">수정</button></a>
                <a href="./{{ingredient.id}}/delete">
                  <button style="width:60px"
                    class="btn btn-default">삭제</button></a>
              </td>
            </tr>
            {% endfor %}
          </table>
          <hr class="intro-divider">
      </div>
    </div>
  </div>
{% endblock %}
