{% extends "base.html" %}
{% block body %}
{% include "navbar.html" %}
<div class="container">
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
     <div class="header">
       <div class="row">
           <div class="col-md-4">
               <h3 class="table_title" style="display:inline;">{{recipe.title}}</h3>
           </div>
           <div class="col-md-offset-4 col-md-4">
            {% if user.client.name == recipe.client.name %}
                <div class="dropdown setting">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                    aria-haspopup="true" aria-expanded="false"><i class="fa fa-cog" aria-hidden="true"></i>
                    </a>
                    <ul class="dropdown-menu setting-menu">
                        <li><a href="/myrecipe/{{recipe.id}}/edit">수정</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a style="color:#d22e2e" href="/myrecipe/{{recipe.id}}/delete">삭제</a></li>
                    </ul>
                  </div>
               {% endif %}
            <p style="display:inline;float:right;color:#777;margin-bottom:0px;">by&nbsp;{{recipe.client.name}}&nbsp;&nbsp;</p>
           </div>
       </div>
     </div>
      <table class="table">
        <tr>
          <td colspan="2"><img src="{{ recipe.image.url }}" style="max-width:300px;"></td>
        </tr>
        <tr>
          <th>메뉴명</th>
          <td>{{recipe.title}}</td>
        </tr>
        <tr>
          <th>소개</th>
          <td>{{recipe.introduction}}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
     <h4 style="padding-left:10px;margin-bottom:0px;margin-top:60px">리뷰&nbsp;<span style="color:#ef931a;">{{recipe.recipe_comments.count}}</span></h4>
      {% for comment in recipe.recipe_comments.all %}
        <div class="detail-comment">
         <hr>
          <div style="font-size:8.5pt; color:#ababab">{{comment.client.name}}
            &nbsp;&nbsp;<span class="comment-date">{{comment.created_date}}</span>
          </div>
          <div style="font-size:11pt; padding-top:5px;">{{comment.comment}}</div>
        </div>
      {% endfor %}
      <hr>
      {% if user.is_authenticated %}
        <div class="reply-form">
          <form method="post" action="" class="form-horizontal">
            {% csrf_token %}
            <div class="form-group">
              <input type="hidden" name="client" value="{{user.client.id}}"/>
              <input type="hidden" name="score" value="0"/>
              <textarea name="comment" class="form-control" rows="3" placeholder="댓글을 달아주세요!"></textarea>
              <button type="submit" class="btn btn-default btn-sm detail-submit" style="float:right;margin-top:10px;">댓글달기</button>
            </div>
          </form>
        </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
