{% extends "base.html" %}
{% block body %}
{% include "navbar.html" %}
<div class="container">
 <div class="row">
   <div style="margin-top:30px;">
        <div class="col-md-6 col-md-offset-3">
          <h5 style="margin_bottom:20px;">레시피 작성</h5>
          <form enctype="multipart/form-data" method="post" action="">
              {% csrf_token %}
              <div>
                {{recipe_form.as_p}}
              </div>
              <input type="text" name="hashtag" class="form-control" placeholder="HashTag를 입력하세요.">
              <button type="submit" class="btn btn-default btn-block">저장하기</button>
          </form>
          <!-- <div id="example-1" class="content" data-mfield-options='{"section": ".group","btnAdd":"#btnAdd-1","btnRemove":".btnRemove"}'>
            <div class="row">
          		<div class="col-md-12"><button type="button" id="btnAdd-1" class="btn btn-primary">Add section</button></div>
          	</div>
            <div class="group">
              <input type="hidden" name="stage" />
              <input type="file" name="image" />
          		<div>
          			<input class="form-control" type="text" name="title">
          		</div>
          		<div>
          			<textarea class="form-control"  name="content"></textarea>
          		</div>
          		<div class="col-md-3">
          			<button type="button" class="btn btn-danger btnRemove">Remove</button>
          		</div>
          	</div>
          </div> -->
      </div>
   </div>
  </div>
</div>

<!-- <script type="text/javascript">
$('#example-1').multifield();
</script> -->
{% endblock %}
