{% extends "base.html" %}
{% block title %}honbab{% endblock %}
{% block body %}
{% include "navbar.html" %}
<div class="container">
  <div class="row signup-row">
      <div class="col-md-6 col-md-offset-3">
      <form class="form-signin" id="signup-form" method="post" action="">
        {% csrf_token %}
        <h2 class="form-signin-heading">회원가입</h2>
        <div class="btn-group btn-group-justified" role="group">
          <div class="btn-group" role="group">
            <button type="button" name="group" class="btn btn-default btn-client" value="client" >클라이언트</button>
          </div>
          <div class="btn-group" role="group">
            <button type="button" name="group" class="btn btn-default btn-partner" value="partner">파트너</button>
          </div>
        </div>
        <input type="hidden" name="group" id='group'>
        <input type="text"  name="username" class="form-control" placeholder="아이디" required="" autofocus="">
        <input type="email" name="email" class="form-control" placeholder="이메일" required="">
        <input type="password" name="password" class="form-control" placeholder="비밀번호" required="">
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> 아이디 저장
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block btn-basic">등록</button>
      </form>
    </div>
  </div>
</div>

<script type="text/javascript">

  var $form = $('signup-form');
  $('.btn-client').click(function(){
    $('.btn-client').css('background-color','orange');
    $('.btn-partner').css('background-color','white');
    $('#group').val('client');
  })
  $('.btn-partner').click(function(){
    $('.btn-partner').css('background-color','orange');
    $('.btn-client').css('background-color','white');
    $('#group').val('partner');
  })

  $('.btn-signup').click(function(){
    if( group == "" ){
      alert('클라이언트, 파트너를 선택하세요!');
    }
    else{
      // var group_val = $('<input type="hidden" name="group" value=' + group + ' />');
      // group_val.appendTo($form);
      $form.submit();
    }
  })
</script>
{% endblock %}
